<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>Ramayana - HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!--
Ramayana CSS Template
https://templatemo.com/tm-529-ramayana
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="static/assets/css/templatemo-style.css">
    <link rel="stylesheet" href="static/assets/css/owl.css">

  </head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">
          <div class="inner">

            <!-- Header -->
            <header id="header">
              <div class="logo">
                <a href="index.html">Spam Analysis</a>
              </div>
            </header>
                     
            <!-- Tables -->
            <section class="tables">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <div class="section-heading">
                    </div>
                    <div class="default-table">
                      {% block content %}
  
                      {% endblock %}
                      
                    </div>
                    
                  </div>
                </div>
              </div>
            </section>

            


       

          </div>
        </div>

      <!-- Sidebar -->
        <div id="sidebar">

          <div class="inner">

            <!-- Search Box -->
            <section id="search" class="alt">
              
            </section>
              
            <!-- Menu -->
           <nav id="menu">
              <ul>
                <li><a href="/dataset">Load</a></li>
                <li><a href="/preproce">Pre-Process</a></li>
                <li><a href="/split">Split Train-Test</a></li>
                <li><a href="/classification">Classification</a></li>
                <li><a href="/results">Results</a></li>
                <li><a href="/analyze">Analyze</a></li>
                <li><a href="/message">Message</a></li>
                
              </ul>
            </nav>

            <!-- Featured Posts -->
            <div class="featured-posts">
             
              <div class="owl-carousel owl-theme">
                <a href="#">
                  <div class="featured-item">
                    <img src="static/assets/images/featured_post_01.jpg" alt="featured one">
                    
                  </div>
                </a>
                <a href="#">
                  <div class="featured-item">
                    <img src="static/assets/images/featured_post_01.jpg" alt="featured two">
                    
                  </div>
                </a>
                <a href="#">
                  <div class="featured-item">
                    <img src="static/assets/images/featured_post_01.jpg" alt="featured three">
                    
                  </div>
                </a>
              </div>
            </div>

            <!-- Footer -->
            <footer id="footer">
              <p class="copyright">Bluegen Solutions
              </p>
            </footer>
            
          </div>
        </div>

    </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="static/assets/js/browser.min.js"></script>
    <script src="static/assets/js/breakpoints.min.js"></script>
    <script src="static/assets/js/transition.js"></script>
    <script src="static/assets/js/owl-carousel.js"></script>
    <script src="static/assets/js/custom.js"></script>
</body>


  </body>

</html>
