<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<a href="/">Back</a>
	
	<center>
	
	
	<DIV>ANALYSIS REPORT</DIV>
	</center>
	<table align="center" border="1">
		<tr>
			<td>
				DT
			</td>
			<td>
				SMV
			</td>
		</tr>
		<tr>
			<td>
				<img src="/static/dt.png" width="450" height="400">
			</td>
			<td>
				<img src="/static/svm.png" width="450" height="400">
			</td>
			
		</tr>
		<tr>
			<td>
				LR
			</td>
			<td>
				KNN
			</td>
		</tr>
		<tr>
			<td>
				<img src="/static/lr.png" width="450" height="400">
			</td>
			
			<td>
				<img src="/static/knn.png" width="450" height="400">
			</td>
		</tr>
		<tr>
			<td>
				RF
			</td>
			<td>
				
			</td>
		</tr>

		<tr>
			<td>
				<img src="/static/rf.png" width="450" height="400">
			</td>
			
			<td>
				<!-- <img src="/static/knn.png" width="450" height="450"> -->
			</td>
		</tr>
	</table>




</body>
</html>